html {
    height: 100%;
    width: 100%; 
}

body {
    overflow-x: hidden;
}

#root {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}

#homePage-container {
    height: 100vh;
    width: 100vw;
    background-image: url(home.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


   
#gamePage {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
}

.unityContainer {
    height: 100%;
    width: 100%;
}