html {
    height: 100%;
    width: 100%; 
}

body {
    overflow: hidden;
}

#root {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}

#homePage-container {
    height: 100vh;
    width: 100vw;
    background-image: url(home.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


   
#gamePage {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
}

.unityContainer {
    height: 100%;
    width: 100%;
}

.headerBar {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
    background-color: lightblue;
    height: 50px;
    width: 100vw;
    display: inline-flex;
}

.headerBar_Nav {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    align-items: center;
}

.logo_btn_home img{
    position: absolute;
    margin-right: 50px;
    margin-top: -5px;
    height: 50%;
    width: 50px;
}




.demo-btn {
    position: relative;
    top: 25%;
    left: 15%;
}